<?xml version="1.0" encoding="utf-8"?>
<!-- Embed payload: slim Xposed entry for LSPatch -m into Grindr (not a Releases product). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Grindr++ Morphe embed payload (LSPatch -m)"
            tools:replace="android:value" />
        <meta-data
            android:name="xposedminversion"
            android:value="103" />
        <meta-data
            android:name="xposedscope"
            android:value="com.grindrapp.android" />

        <activity
            android:name="com.gpp.manager.MainActivity"
            tools:node="remove" />
        <activity-alias
            android:name="com.gpp.manager.MainActivityAlias"
            tools:node="remove" />
        <service
            android:name="com.gpp.bridge.BridgeService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            tools:node="merge">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="xposed_module"
                tools:replace="android:value" />
        </service>
    </application>
</manifest>
